.gallery {
    padding: 24px 156px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    transition: transform 250ms ease-in;

}

.gallery-item:hover {
    transform: scale(1.05);

}